
<h2>formulario</h2>
<div>

    <form  [formGroup]="formulario" (ngSubmit)="enviarFormulario(formulario)" >
    <mat-form-field>
      <mat-label>Nombre</mat-label>
    
      <input type="text" id="nombre" formControlName="name">
      <!-- Mostramos el mensaje de error si el campo "nombre" es inválido y ha sido tocado -->
     
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input type="email" id="email" formControlName="email">
      <!-- Mostramos el mensaje de error si el campo "email" es inválido y ha sido tocado -->
     
    </mat-form-field>
  
    <mat-form-field>
      <mat-label for="telefono">Teléfono:</mat-label>
      <input type="text" id="telefono" formControlName="telefono">
      <!-- Mostramos el mensaje de error si el campo "telefono" es inválido y ha sido tocado -->
      
    </mat-form-field>
  
    <button type="submit" >Enviar</button>
  </form>

</div>
